// Features 
// -----------------------------------------------
// -----------------------------------------------
.features {
    padding: {
        top: ($base-point-grid * 3);
        /*64px*/
        bottom: ($base-point-grid * 10);
        /*80px*/
    }
    background: $white;
    .feature-item {
        margin-top: ($base-point-grid * 5);
        text-align: center;
        h2 {
            margin: {
                top: ($base-point-grid * 3);
                /*24px*/
                bottom: ($base-point-grid * 2);
                /*16px*/
            }
            font-size: 1.429rem;
        }
        
        p {
            margin-bottom: ($base-point-grid * 3);
        }
    }
}
