// Masthead 
// -----------------------------------------------
// -----------------------------------------------
#masthead {
    position: relative;
    padding-top: ($base-point-grid * 20)/*176px*/; 
    //background: url("../img/ank-background-masthead.svg") top right no-repeat;
    background-color: $brand-secondary;
    background-image: url("../img/helios-background-masthead.svg");
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;


    .masthead-title {
        margin: ($base-point-grid * 5);
        font-size: 3.429rem;
        /*48px*/
        font-weight: $font-regular;
        line-height: 1.3;
        color: $white;
    }

    > svg {
        width: 100%;
        height: auto
    }
}

// Responsive mode
@include bp(medium) {
    #masthead {
        background-position: 0 bottom, left top;
        .masthead-title {
            padding: 0 ($base-point-grid * 3);
            font-size: 2rem;
        }

        > svg {
            margin-top: ($base-point-grid * 8);
        }
    }
}

@include bp(small) {
    #masthead {
        > svg {
            margin-top: ($base-point-grid * 8);
        }
    }
}