// Doc header
// -----------------------------------------------
// -----------------------------------------------

.doc-header {
    @include flexbox;
    @include align-items(center);
    padding-left: ($base-point-grid * 3);
    height: 94px;
    background: $white;
    @extend .w3-hide-large;
}